<%= provide(:title, 'All users')%>
<div class="container">

  <h1>All users</h1>
  <%= will_paginate %>
  <table id='user-table' class="table table-striped table-condensed">
    <thead>
      <th>Image</th>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3" width="10%">Action</th>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
  <%= will_paginate %>

</div>
